<p>Merhaba,</p>
<p>İletişim formuna yeni bir başvuru mevcut. Lütfen kontrol ediniz.</p>
<p>
    <strong>Ad:</strong> {{first_name}}<br>
    <strong>Soyad:</strong> {{last_name}}<br>
    <strong>E-posta:</strong> {{email}}<br>
    <strong>Telefon Numarası:</strong> {{telephone_number}}<br>
    <strong>Mesaj İçeriği:</strong> {{message}}<br>
</p>